

.OBToolbarIconButton_icon_swa_viewList {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/iconButton-viewlist.png);
}


.OBToolbarIconButton_icon_swa_refreshProduct {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/product.png);
}

.OBToolbarIconButton_icon_swa_refreshProductBOM {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./images/product.png);
}